name: build

on: 
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          # Fetch latest 2 commits to allow relative-ci/agent
          # to lookup the pull request corresponding commit message
          fetch-depth: 2

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      # Install dependencies
      - run: npm ci

      # Lint
      - run: npm run lint -- --quiet

      # Build
      - run: npm run build

      # Send bundle stats and CI information to RelativeCI
      - run: npx relative-ci
        env:
          RELATIVE_CI_KEY: ${{ secrets.RELATIVE_CI_KEY }}
