name: build

on: 
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      # Install dependencies
      - run: npm ci

      # Lint
      - run: npm run lint -- --quiet

      # Build and send bundle stats and CI information to RelativeCI
      - run: npm run build
        env:
          RELATIVE_CI_KEY: ${{ secrets.RELATIVE_CI_KEY }}
